# Dependencies
node_modules/

# Build
dist/
build/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Compiled
*.js.map

# Strapi
cms/.tmp/
cms/.cache/
cms/build/
cms/exports/
